<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PsLibrary"
        tools:targetApi="31">
        <activity
            android:name=".bookComFour"
            android:exported="false" />
        <activity
            android:name=".bookComThree"
            android:exported="false" />
        <activity
            android:name=".bookComTwo"
            android:exported="false" />
        <activity
            android:name=".bookComOne"
            android:exported="false" />
        <activity
            android:name=".bookMarFour"
            android:exported="false" />
        <activity
            android:name=".bookMarThree"
            android:exported="false" />
        <activity
            android:name=".bookMarTwo"
            android:exported="false" />
        <activity
            android:name=".bookMarOne"
            android:exported="false" />
        <activity
            android:name=".bookEngSix"
            android:exported="false" />
        <activity
            android:name=".bookEngFive"
            android:exported="false" />
        <activity
            android:name=".bookEngFour"
            android:exported="false" />
        <activity
            android:name=".bookEngThree"
            android:exported="false" />
        <activity
            android:name=".bookEngTwo"
            android:exported="false" />
        <activity
            android:name=".bookEngOne"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>